
@media all and (min-width: 480px) {
  .NewFile {
    padding: 60px 0;
  }

  .NewFile form {
    padding-bottom: 15px;
    margin: 0 auto;
    max-width: 320px;
}
}

.NewFile form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
